body{
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}
table{
  border: 2px #efefef;
  border-collapse: collapse;
}
thead{
  background-color: #efefef;
}
tfoot{
  background-color: #efefef;
}
th,td{
  padding: 8px;
  text-align: center;
}
tbody td:first-child{
  color: red;
}
tbody td:last-child{
  color: blue;
}
td.disabled{
  opacity: 0.3;
}
td.isToday{
  font-weight: bold;
}
#today{
  font-weight: bold;
}
#prev,#next,#today{
  cursor: pointer;
  user-select: none;
}