<%- include('header') %>

<p> sampledata records</p>
<form method="POST" action="/db">
    <div class="form-group">
        <label for="sql">SQL</label>
        <input type="text" class="form-control" id="sql" name="sql" value = "<%= sql %>"">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary">
    </div>
</form>
<ol class="list-group">
    <% for(let i in data){ %>
        <li class="list-group-item">
            <%= JSON.stringify(data[i]) %>
        </li>
    <% } %>
</ol>
<%- include('footer') %>