body{
  background-color: #efdec1;
  font-size: 14px;
  font-family: Verdana,sans-serif;
}
.container{
  position: relative;
  width: 400px;
  background-color: #fff;
  border-radius: 4px;
  margin: 8px auto;
  padding: 16px;
}
#q{
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}
#choices{
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}
#choices > li{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px auto;
  cursor: pointer;
}
#choices > li:hover{
  background-color: #f8f8f8;
}
#choices > li.correct{
  background-color: #d4edda;
  border:1px #c3e6cb;
  color: #155724;
  font-weight: bold;
}
#choices > li.wrong{
  background-color: #f8d8da;
  border:1px #f5c6cb;
  color: #721c24;
  font-weight: bold;
}
#choices > li.correct::after{
  content: "...correct!";
}
#choices > li.wrong::after{
  content: "...wrong!";
}
#btn,#result > a{
  margin-top: 16px;
  background-color: #3498db;
  padding: 8px;
  box-shadow: 0 4px 0 #2880b9;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
#btn.disabled{
  cursor: auto;
  background-color: #ccc;
  padding: 8px;
  box-shadow: 0 4px 0 #bbb;
  opacity: 0.7;
}
#result{
  position: absolute;
  width: 300px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  transition: 0.4s;
}
#result.hidden{
  transform: translateY(-500px);
}
#result > p{
  font-size: 24px;
}
#result > a{
 display: block; 
 text-decoration: none;
}