body{
  background: #ccc;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: bold;
}
#container{
  /* width: 120px; */
  margin: 16px auto;
  /* background-color: pink; */
}
#timer{
  font-size: 20px;
  text-align: right;
  margin-bottom: 8px;
}
#board{
  list-style-type: none;
  margin: 0 0 8px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}
#board li{
  background: #00aaff;
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
  box-shadow:  0 4px 0 #0088ec;
  user-select: none;
}
#board li.pressed{
  margin-top: 9px;
  margin-bottom: 1px;
  background-color: #ccc;
  box-shadow: none;
}
#btn{
  cursor: pointer;
  user-select: none;
  background-color: #f44336;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 0 #d1483e;
}
#btn:active{
  margin-top: 12px;
  box-shadow: none;
}